body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: sans-serif;
}

h2 {
    color: #66bfbf;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #11999e;
    font-family: sans-serif;
}
p {
    line-height: 2;
}
hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
}
a {
    color: #11999e;
    font-family: sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover {
    color: #eaf6f6;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}
.bottom-container {
background-color: #66bfbf;
padding: 50px 0 20px;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.pro {
    text-decoration: underline;
}

.webpic {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.SEO {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.img {
    height: 250px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.copyright {
    color: #eaf6f6;
    font-size: 0.95rem;
    padding: 20px 0;
}



.myButton {
	box-shadow: 0px 0px 0px 2px #46b8a9;
	background:linear-gradient(to bottom, #50ebbf 5%, #50c2bc 100%);
	background-color:#50ebbf;
	border-radius:22px;
	border:1px solid #19faba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: sans-serif;
	font-size:19px;
	padding:17px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #50c2bc 5%, #50ebbf 100%);
	background-color:#50c2bc;
}
.myButton:active {
	position:relative;
	top:1px;
}
